In [7]:
import numpy as np
import pandas as pd
pd.options.mode.chained_assignment = None

In [8]:
df=pd.read_csv("MM209_Project - Sheet1.csv")

In [9]:
df

,Metal,Metal Oxide,DeltaH0,DeltaS0,Slope change T,New DeltaH0,New DeltaS0
0,Ca,CaO,-1280,-0.22,NaN,NaN,NaN
1,Mg,MgO,-1202,-0.22,1365.0,-1459.0,-0.41
2,Al,Al2O3,-1125,-0.22,NaN,NaN,NaN
3,Ti,TiO2,-941,-0.18,NaN,NaN,NaN
4,Nb,NbO,-825,-0.17,NaN,NaN,NaN
5,Mn,MnO,-778,-0.15,NaN,NaN,NaN
6,Cr,Cr2O3,-740,-0.16,NaN,NaN,NaN
7,Fe,FeO,-538,-0.14,NaN,NaN,NaN
8,Co,CoO,-491,-0.16,NaN,NaN,NaN
9,Ni,NiO,-471,-0.17,NaN,NaN,NaN

In [10]:
#Code to add new metal
#User can uncomment the below line and add a new metal to the above existing data frame after 
#entering the required values
#df.loc[len(df.index)] =[Metal,Metal Oxide,DeltaH0,DeltaS0,Slope change T,New DeltaH0,New DeltaS0]

In [11]:
#Data for formation of water from H2 and 02
#2H2 + 02=2H20
DeltaH0=-495*1000
DeltaS0=-0.11*1000

In [12]:
#Accepting the temperature value
T=input("Enter the temperature: ")

Enter the temperature:  1000

In [13]:
#Calculation of equilibrium constant for the reaction 2H2 + O2= 2H20
T=int(T)
DeltaG0= DeltaH0 -T * DeltaS0
Kc=np.exp(-DeltaG0/(8.314*T))

In [14]:
df1=df[df['Slope change T'].isnull()] #DataFrame for metals with a linear DeltaG0
df2=df[~(df['Slope change T'].isnull())]#DataFrame for metals with a DeltaG0 whose slope changes
df1['DeltaG0']=df1['DeltaH0']-T*df1['DeltaS0']
df1.dropna(axis=1,inplace=True)
df2['DeltaG0']=0
for ind in df2.index:
    if T>=df2['Slope change T'][ind]:
        df2['DeltaG0'][ind]=df2['New DeltaH0'][ind]-T*df2['New DeltaS0'][ind]
    else:
        df2['DeltaG0'][ind]=df2['DeltaH0'][ind]-T*df2['DeltaS0'][ind]

In [15]:
df1['Kc']=np.exp(-df1['DeltaG0']*1000/(8.314*T))
df2['Kc']=np.exp(-df2['DeltaG0']*1000/(8.314*T))
#Kc=1/p02
df1['p02']=1/(df1['Kc'])
df2['p02']=1/(df2['Kc'])

In [16]:
#Kc for water formation = ((pH20/pH2)^2)/p02
df1['pH20/pH2']=np.sqrt(Kc*df1['p02'])
df2['pH20/pH2']=np.sqrt(Kc*df2['p02'])
df1['ln(pH20/pH2)']=np.log(np.sqrt(Kc*df1['p02']))
df2['ln(pH20/pH2)']=np.log(np.sqrt(Kc*df2['p02']))

In [17]:
#Final DataFrame for the first group of metals
df1

,Metal,Metal Oxide,DeltaH0,DeltaS0,DeltaG0,Kc,p02,pH20/pH2,ln(pH20/pH2)
0,Ca,CaO,-1280,-0.22,-1060.0,2.348109e+55,4.258747e-56,2.345159e-18,-40.594178
2,Al,Al2O3,-1125,-0.22,-905.0,1.879562e+47,5.320390e-48,2.621218e-14,-31.272552
3,Ti,TiO2,-941,-0.18,-761.0,5.649327e+39,1.770122e-40,1.511935e-10,-22.612461
4,Nb,NbO,-825,-0.17,-655.0,1.640306e+34,6.096423e-35,8.872968e-08,-16.237671
5,Mn,MnO,-778,-0.15,-628.0,6.375859e+32,1.568416e-33,4.500513e-07,-14.613904
6,Cr,Cr2O3,-740,-0.16,-580.0,1.982373e+30,5.044459e-31,8.071210e-06,-11.727207
7,Fe,FeO,-538,-0.14,-398.0,6.167904e+20,1.621296e-21,4.575753e-01,-0.781814
8,Co,CoO,-491,-0.16,-331.0,1.951148e+17,5.125187e-18,2.572683e+01,3.247534
9,Ni,NiO,-471,-0.17,-301.0,5.286820e+15,1.891496e-16,1.562911e+02,5.051720

In [18]:
#Final Dataframe for the second group of metals
df2

,Metal,Metal Oxide,DeltaH0,DeltaS0,Slope change T,New DeltaH0,New DeltaS0,DeltaG0,Kc,p02,pH20/pH2,ln(pH20/pH2)
1,Mg,MgO,-1202,-0.22,1365.0,-1459.0,-0.41,-982,1.978195e+51,5.055113e-52,2.555035e-16,-35.903296

In [19]:
#Joining the 2 we get our final dataframe which contains all the values
df3=pd.concat([df1.drop(['DeltaH0','DeltaS0'],axis=1),df2.drop(['DeltaH0','DeltaS0','Slope change T','New DeltaH0','New DeltaS0'],axis=1)])
df3.sort_index(inplace=True)
df3

,Metal,Metal Oxide,DeltaG0,Kc,p02,pH20/pH2,ln(pH20/pH2)
0,Ca,CaO,-1060.0,2.348109e+55,4.258747e-56,2.345159e-18,-40.594178
1,Mg,MgO,-982.0,1.978195e+51,5.055113e-52,2.555035e-16,-35.903296
2,Al,Al2O3,-905.0,1.879562e+47,5.320390e-48,2.621218e-14,-31.272552
3,Ti,TiO2,-761.0,5.649327e+39,1.770122e-40,1.511935e-10,-22.612461
4,Nb,NbO,-655.0,1.640306e+34,6.096423e-35,8.872968e-08,-16.237671
5,Mn,MnO,-628.0,6.375859e+32,1.568416e-33,4.500513e-07,-14.613904
6,Cr,Cr2O3,-580.0,1.982373e+30,5.044459e-31,8.071210e-06,-11.727207
7,Fe,FeO,-398.0,6.167904e+20,1.621296e-21,4.575753e-01,-0.781814
8,Co,CoO,-331.0,1.951148e+17,5.125187e-18,2.572683e+01,3.247534
9,Ni,NiO,-301.0,5.286820e+15,1.891496e-16,1.562911e+02,5.051720

In [26]:
#Dataframe showing the pH20/pH2 values clearly
df3[['Metal','Metal Oxide','pH20/pH2','ln(pH20/pH2)']]

,Metal,Metal Oxide,pH20/pH2,ln(pH20/pH2)
0,Ca,CaO,2.345159e-18,-40.594178
1,Mg,MgO,2.555035e-16,-35.903296
2,Al,Al2O3,2.621218e-14,-31.272552
3,Ti,TiO2,1.511935e-10,-22.612461
4,Nb,NbO,8.872968e-08,-16.237671
5,Mn,MnO,4.500513e-07,-14.613904
6,Cr,Cr2O3,8.071210e-06,-11.727207
7,Fe,FeO,4.575753e-01,-0.781814
8,Co,CoO,2.572683e+01,3.247534
9,Ni,NiO,1.562911e+02,5.051720

In [21]:
from lets_plot import *
ggplot(df3) + geom_bar(aes(fill="pH20/pH2", x="Metal", y="pH20/pH2"), stat='identity')

In [22]:
from lets_plot import *
ggplot(df3) + geom_bar(aes(fill="ln(pH20/pH2)", x="Metal", y="ln(pH20/pH2)"), stat='identity')

In [23]:
from lets_plot import *
ggplot(df3) + geom_line(aes(color="ln(pH20/pH2)", x="Metal", y="ln(pH20/pH2)"))