In [15]:
import numpy as np
import pandas as pd
pd.options.mode.chained_assignment = None

In [16]:
df=pd.read_csv("MM209_Project - Sheet1.csv")

In [17]:
df

,Metal,Metal Oxide,DeltaH0,DeltaS0,Slope change T,New DeltaH0,New DeltaS0
0,Ca,CaO,-1280,-0.22,NaN,NaN,NaN
1,Mg,MgO,-1202,-0.22,1365.0,-1459.0,-0.41
2,Al,Al2O3,-1125,-0.22,NaN,NaN,NaN
3,Ti,TiO2,-941,-0.18,NaN,NaN,NaN
4,Nb,NbO,-825,-0.17,NaN,NaN,NaN
5,Mn,MnO,-778,-0.15,NaN,NaN,NaN
6,Cr,Cr2O3,-740,-0.16,NaN,NaN,NaN
7,Fe,FeO,-538,-0.14,NaN,NaN,NaN
8,Co,CoO,-491,-0.16,NaN,NaN,NaN
9,Ni,NiO,-471,-0.17,NaN,NaN,NaN

In [18]:
#Code to add new metal
#User can uncomment the below line and add a new metal to the above existing data frame after 
#entering the required values
#df.loc[len(df.index)] =[Metal,Metal Oxide,DeltaH0,DeltaS0,Slope change T,New DeltaH0,New DeltaS0]

In [19]:
#Data for formation of water from H2 and 02
#2H2 + 02=2H20
DeltaH0=-495*1000
DeltaS0=-0.11*1000

In [20]:
#Accepting the temperature value
T=input("Enter the temperature: ")

Enter the temperature:  1600

In [21]:
#Calculation of equilibrium constant for the reaction 2H2 + O2= 2H20
T=int(T)
DeltaG0= DeltaH0 -T * DeltaS0
Kc=np.exp(-DeltaG0/(8.314*T))

In [22]:
df1=df[df['Slope change T'].isnull()] #DataFrame for metals with a linear DeltaG0
df2=df[~(df['Slope change T'].isnull())]#DataFrame for metals with a DeltaG0 whose slope changes
df1['DeltaG0']=df1['DeltaH0']-T*df1['DeltaS0']
df1.dropna(axis=1,inplace=True)
df2['DeltaG0']=0
for ind in df2.index:
    if T>=df2['Slope change T'][ind]:
        df2['DeltaG0'][ind]=df2['New DeltaH0'][ind]-T*df2['New DeltaS0'][ind]
    else:
        df2['DeltaG0'][ind]=df2['DeltaH0'][ind]-T*df2['DeltaS0'][ind]

In [23]:
df1['Kc']=np.exp(-df1['DeltaG0']*1000/(8.314*T))
df2['Kc']=np.exp(-df2['DeltaG0']*1000/(8.314*T))
#Kc=1/p02
df1['p02']=1/(df1['Kc'])
df2['p02']=1/(df2['Kc'])

In [24]:
#Kc for water formation = ((pH20/pH2)^2)/p02
df1['pH20/pH2']=np.sqrt(Kc*df1['p02'])
df2['pH20/pH2']=np.sqrt(Kc*df2['p02'])

In [25]:
df1

,Metal,Metal Oxide,DeltaH0,DeltaS0,DeltaG0,Kc,p02,pH20/pH2
0,Ca,CaO,-1280,-0.22,-928.0,1.982373e+30,5.044459e-31,1.144817e-10
2,Al,Al2O3,-1125,-0.22,-773.0,1.724932e+25,5.797331e-26,3.880992e-08
3,Ti,TiO2,-941,-0.18,-653.0,2.084646e+21,4.796977e-22,3.530308e-06
4,Nb,NbO,-825,-0.17,-553.0,1.133051e+18,8.825727e-19,1.514272e-04
5,Mn,MnO,-778,-0.15,-538.0,3.668868e+17,2.725637e-18,2.661109e-04
6,Cr,Cr2O3,-740,-0.16,-484.0,6.332122e+15,1.579249e-16,2.025602e-03
7,Fe,FeO,-538,-0.14,-314.0,1.784096e+10,5.605078e-11,1.206756e+00
8,Co,CoO,-491,-0.16,-235.0,4.701537e+07,2.126964e-08,2.350763e+01
9,Ni,NiO,-471,-0.17,-199.0,3.139916e+06,3.184799e-07,9.096404e+01

In [26]:
from lets_plot import *
ggplot(df1) + geom_bar(aes(fill="pH20/pH2", x="Metal", y="pH20/pH2"), stat='identity')

In [27]:
df2

,Metal,Metal Oxide,DeltaH0,DeltaS0,Slope change T,New DeltaH0,New DeltaS0,DeltaG0,Kc,p02,pH20/pH2
1,Mg,MgO,-1202,-0.22,1365.0,-1459.0,-0.41,-803,1.645155e+26,6.078455e-27,1.256682e-08

In [28]:
from lets_plot import *
ggplot(df2) + geom_bar(aes(fill="pH20/pH2", x="Metal", y="pH20/pH2"), stat='identity')